
.window {
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	animation: fade 0.5s;
}

.modal {
	height: 200px;
	width: 300px;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	overflow: hidden;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    animation: grow 0.5s;
}

.modal .header {
	background-color: #2E2E2E;
	height: 50%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal .footer {
	height: 50%;
	background-color: white;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.modal .header h1 {
	color: #FBA465;
	font-size: 75px;
	font-family: "Calibri";
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.modal .footer h1 {
	font-family: "Avenir";
	font-size: 15px;
	margin: 0px;
	padding: 0px;
}

.modal .footer p {
	font-family: "Avenir";
	font-size: 12px;
	margin: 5px;
	margin-bottom: 10px;
	padding: 0px;

}

.modal .footer button {
	background-color: #2E2E2E;
	font-family: "Avenir Black";
	color: white;
	cursor: pointer;
	border-style: none;
	border-radius: 2px;
	padding: 5px;
	padding-left: 30px;
	padding-right: 30px;
}

@keyframes fade {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@keyframes grow {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1.0);
	}
}