
.container {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-direction: column;

}

.header {
	min-height: 25px;
	max-height: 25px;
	width: 100%;
	background-color: #2E2E2E;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	border-style: solid;
	border-width: 1px;
	border-color: #1A1A1A;
}

.console {
	flex-grow: 1;
	background-color: transparent;
	padding: 10px;
	overflow: hidden;
}

.console textarea {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	border-style: none;
	resize: none;
	outline: none;
	color: #B2B1AC;
}

.terminalButton {
	height: 25px;
	background-color: transparent;
	color: #B2B1AB;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-style: none;
	padding: 10px;
	margin-left: 10px;
}

.terminalButton h1 {
	color: #B2B1AB;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
	font-size: 11px;
	margin-left: 5px;
	font-family: "Avenir Heavy";
	border-style: none;
}

.terminalButton h1:hover {
	color: white;
}

.dropdown {
	height: 25px;
	background-color: transparent;
	padding: 0px;
	font-size: 11px;
	color: #B2B1AC;
	outline: none;
	font-family: "Avenir-Book";
	font-weight: bold;
	margin-right: 10px;
	cursor: pointer;
	border-style: none;
	text-transform: capitalize;
	margin-left: 0px;
}

.dropdown:hover {
	color: white;
}

.runButton {
	background-color: transparent;
	height: 30px;
	width: 30px;
	margin: 0px;
	padding: 0px;
	border-style: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.loadingSpinner {
	height: 15px;
	width: 15px;
	background-color: transparent;
	border-radius: 50%;
	border-bottom-style: solid;
	border-top-style: solid;
	border-width: 2px;
	border-color: #B2B1AB;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}