
.container {
	background-color: green;
	width: 100%;
}

.footer {
	height: 25px;
	min-height: 25px;
	width: 100%;
	background-color: #2E2E2E;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	border-top-style: solid;
	border-width: 1px;
	border-color: #1A1A1A;
}

.footer button {
	font-family: "Avenir-Book";
	font-weight: bold;
	background-color: transparent;
	margin: 0px;
	padding: 0px;
	border-style: none;
	height: fit-content;
	width: fit-content;
	font-size: 11px;
	margin-left: 20px;
	margin-right: 20px;
	color: #B2B1AC;
	cursor: pointer;
	text-transform: capitalize;
}

.footer button:hover {
	color: white;
}

.footer h1 {
	font-family: "Avenir-Book";
	font-size: 11px;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
	margin-right: 20px;
	color: #B2B1AC;
	cursor: default;
}

.footer select {
	background-color: #2E2E2E;
	font-size: 11px;
	color: #B2B1AC;
	outline: none;
	font-family: "Avenir-Book";
	font-weight: bold;
	margin: 0px;
	margin-left: 20px;
	margin-right: 20px;
	cursor: pointer;
	border-style: none;
	text-transform: capitalize;
}

.footer select:hover {
	color: white;
}

.container textarea {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 10px;
	background-color: #212121;
	border-style: none;
	resize: none;
	outline: none;
	color: #B2B1AC;
}