
.navbar {
	background-color: #2E2E2E;
	height: 50px;
	width: 100%;

	border-color: #1A1A1A;
	border-width: 1px;
	border-style: none;
	border-bottom-style: solid;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	z-index: 1;
}

.button {
	background-color: transparent;
	height: 100%;
	width: 65px;
	border-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
	margin-left: 5px;
	margin-right: 5px;
}

.button svg {
	width: 20px;
	height: 20px;
	margin: 0px;
	fill: grey;
}

.button h1 {
	color: #B2B1AB;
	font-family: "Avenir Light";
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

.selected h1 {
	color: #FBA465;
}

.button:hover h1 {
	color: #FBA465;
}

.dropdown {
	position: absolute;
	top: 55px;
	background-color: #2E2E2E;
	z-index: 1;
	flex-direction: column;
	min-width: 65px;
	box-sizing: border-box;
	padding: 5px;
	box-shadow: 2px 2px #1A1A1A;
	border-radius: 2px;
}

.dropdownCell {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	padding: 4px;
}

.dropdownCell svg {
	height: 15px;
	width: 15px;
}

.dropdown h3 {
	color: #B2B1AB;
	font-family: "Avenir Light";
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
}

.dropdown h1 {
	color: #B2B1AB;
	margin: 2px;
	padding: 0px;
	font-family: "Avenir";
	font-size: 12px;
}

.number {
	position: absolute;
	transform: translate(13px, -13px);
	z-index: 2;
	color: #B2B1AB;
	font-family: "Avenir Light";
	font-size: 10px;

}