
.navbar {
	background-color: #2E2E2E;
	height: 50px;
	width: 100%;

	border-color: #1A1A1A;
	border-width: 1px;
	border-style: none;
	border-bottom-style: solid;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	z-index: 1;
}
