
.window {
	background-color: transparent;
	opacity: 0.5;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	background-color: #2E2E2E;
	z-index: 100;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px #1A1A1A;
	padding: 15px;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
}

.modal h1 {
	font-family: "Avenir Black";
	font-size: 15px;
	color: #B2B1AB;
	margin: 5px;
	padding: 0px;
}

.modal input {
	background-color: #242424;
	border-style: solid;
	border-width: 1px;
	border-radius: 1000px;
	border-color: #B2B1AB;
	width: 100%;
	outline: none;
	font-size: 15px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-family: "Avenir Light";
	color: #B2B1AB;
	box-shadow: 2px 2px black;
	box-sizing: border-box;
	margin-bottom: 5px;
	margin-top: 5px;
}

.modal input::placeholder {
	color: #B2B1AB;
	opacity: 0.75;
}

.modal button {
	background-color: white;
	font-family: "Avenir Black";
	color: #242424;
	cursor: pointer;
	border-style: none;
	border-radius: 2px;
	margin-top: 10px;
	padding: 2px;
	padding-left: 20px;
	padding-right: 20px;
	width: fit-content;
}