
.window {
	background-color: rgba(0, 0, 0, 0.2);
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fade 0.5s;
}

.modal {
	background-color: white;
	z-index: 100;
	display: flex;
	flex-direction: column;
	box-shadow: 2px 2px #1A1A1A;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	animation: grow 0.5s;
	border-style: solid;
	border-width: 1px;
	border-color: #B2B1AB;
}

.modal h1 {
	font-family: "Avenir Black";
	font-size: 18px;
	color: #242424;
	margin: 5px;
	padding: 0px;
	width: 100%;
	text-align: left;
}

.modal input {
	background-color: transparent;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #B2B1AB;
	width: 100%;
	outline: none;
	font-size: 15px;
	padding: 5px;
	font-family: "Avenir Light";
	color: #242424;
	box-sizing: border-box;
	margin-bottom: 5px;
	margin-top: 5px;
}

.modal button {
	background-color: white;
	font-family: "Avenir Black";
	color: #242424;
	cursor: pointer;
	border-radius: 2px;
	margin-top: 10px;
	border-style: solid;
	border-color: #B2B1AB;
	border-width: 1px;
	width: 75px;
	margin-left: 5px;
	margin-right: 5px;
}

.modal .joinButton {
	background-color: #3370E5;
	border-color: transparent;
}

.modal .cancelButton {
	background-color: white;
}

@keyframes fade {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.2);
	}
}

@keyframes grow {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1.0);
	}
}